* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

/* ヘッダー */
header {
    min-height: 100vh;
    background-image: url(img/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    background-size: cover;
    opacity: 0.9;
}
.header-container {
    width: 100%; 
}
.header-top {
    min-height: 15vh;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
}
.header-detail {
    float: left;
    width: 30%;
    margin: 250px 100px;
}
.header-detail article {
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: 10px;
    font-size: 30px;
}
.header-logo img {
    margin-left: 80px;
}
.header-menu ul {
    display: flex;
    align-items: center;
}
.header-menu a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    line-height: 15vh;
    font-weight: bolder;

}
.header-menu li {
    display: flex;
    list-style: none;
    justify-content: left;
}
.hamburger {
    display: none;
}
/* ヘッダー */
/* ヘッダー　スマホ */
@media (min-width:320px) and (max-width: 900px) {
    header {
        min-height: 40vh;
        background-image: url(img/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
        background-size: cover;
        opacity: 0.9;
    }
    .header-container {
        width: 100%; 
    }
    .header-top {
        min-height: 70px;
        background-color: none;
        opacity: 0.8;
        width: 100%;
    }
    .header-detail {
        float: left;
        width: 70%;
        margin: 150px 50px;
    }
    .header-detail article {
        background-color: rgb(189, 189, 189);
        margin-top:5px;
        font-size: 5px;
    }
    .header-logo img {
        margin-top: 10px;
        margin-left: 50px;
        width: 40%;
    }
    .header-menu {
        display: none;
    }
    .hamburger {
        display: flex;
        /* background-color: rgb(82, 42, 192); */
        width: 100%;
        line-height: 70px;
        margin-right: 10px;
        font-size: 15px;
    }

}
/* ヘッダー　スマホ */

/* コンセプト */
.concept {
    margin-top: 100px;
}
.concept-content {
    display: flex;
    align-items: center;
}
.concept-detail {
    width: 30%;
}
.concept-detail h1, p {
    margin-top: 40px;
}
.concept-img {
    width: 60%;
}
.concept-img img {
    width: 100%;
}

/* コンセプト */
/* コンセプト　スマホ */
@media (min-width:320px) and (max-width: 900px) {

    .concept {
        margin-top: 70px;
    }
    .concept-content {
        display: block;
        align-items: center;
    }
    .concept-detail {
        width: 90%;
    }
    .concept-detail h1, p {
        margin-top: 10px;
    }
    .concept-detail p {
        position: relative;
        top: 50px;
        font-weight: bold;
    }
    .concept-img {
        width: 100%;
        position: relative;
        top: -100px;
        opacity: 0.5;
    }
    .concept-img img {
        width: 100%;
    }
}
/* コンセプト　スマホ */

/* サービス */
.service {
    width: 100%;
    margin-top: 100px;
}
.service-container h1 {
    margin-left: 50px;
}
.service-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.service-detail {
    width: 30%;
}
.service-name img {
    width: 100%;
    opacity: 0.7;
}
/* サービス */
/* サービス　スマホ */
@media (min-width:320px) and (max-width: 900px) {
    .service {
        width: 100%;
        margin-top: 50px;
    }
    .service-container h1 {
        margin-left: 20px;
    }
    .service-content {
        display: block;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    .service-detail {
        width: 100%;
    }
    .service-name img {
        width: 100%;
        opacity: 0.7;
    }
    .service-name p {
        background-color: white;
        position: relative;
        top: -60px;
        width: 80%;
        float: left;
    }
}
/* サービス　スマホ  */
