* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    background-color: rgb(207, 235, 247);
    /* overflow: hidden; */
}
/* ヘッダー */
header {
    min-height: 100vh;
    /* background-image: url(img/marvin-meyer-SYTO3xs06fU-unsplash.jpg); */
    background-size: cover;
    opacity: 0.9;
}
.header-container {
    width: 100%; 
}
.header-top {
    min-height: 15vh;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 30;
}
.header-detail {
    float: left;
    width: 30%;
    margin: 250px 100px;
}
.header-detail article {
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: 10px;
    font-size: 30px;
}
.header-logo img {
    margin-left: 80px;
}
.header-menu ul {
    display: flex;
    align-items: center;
}
.header-menu a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    line-height: 15vh;
    font-weight: bolder;

}
.header-menu li {
    display: flex;
    list-style: none;
    justify-content: left;
}
.header-img {
    display: none;
}
.hamburger {
    display: none;
}

/* ヘッダー */
/* ヘッダー　スマホ */
@media (min-width:320px) and (max-width: 900px) {
    header {
        min-height: 40vh;
        /* background-image: url(img/marvin-meyer-SYTO3xs06fU-unsplash.jpg); */
        background-size: cover;
        opacity: 0.9;
    }
    video {
        position: relative;
        top: 80px;
        display: block;
    }
    .header-container {
        width: 100%; 
    }
    .header-top {
        min-height: 70px;
        background-color: none;
        opacity: 0.8;
        width: 100%;
        z-index: 15;
    }
    .header-detail {
        float: left;
        width: 70%;
        margin: 150px 50px;
    }
    .header-detail article {
        background-color: rgb(189, 189, 189);
        margin-top:5px;
        font-size: 5px;
    }
    .header-logo img {
        margin-top: 10px;
        margin-left: 50px;
        width: 40%;
    }
    .header-menu {
        display: none;
    }
    .hamburger {
        display: flex;
        /* background-color: rgb(82, 42, 192); */
        width: 100%;
        line-height: 70px;
        margin-right: 0px;
        font-size: 15px;
    }
    .hamburger-contact a {
        color: black;
        text-decoration: none;
    }
    .hamburger-contact li {
        list-style: none;
    }
    .header-img {
        display: block;
        position: relative;
        overflow: hidden;
        top: 80px;
    }
    .slide-imgs {
        display: flex;
    }
    .slide-img {
        width: 100%;

    }
}
/* ヘッダー　スマホ */

/* コンセプト */
.concept {
    width: 100%;
}
.concept-content {
    padding-top: 150px;
    display: flex;
    align-items: center;
}
.concept-detail {
    width: 30%;
}
.concept-detail h1, ul {
    margin-top: 40px;
}
.concept-detail ul {
    font-size: 20px;
}
.concept-detail li {
    list-style: none;
    text-decoration: underline;
}
.concept-btn {
    float: left;
    margin-top: 30px;
    padding: 5px;
}
.concept-btn:hover {
    cursor: pointer;
}
.concept-img {
    width: 60%;
}
.concept-img img {
    width: 100%;
}
.concept-detail-show {
    display: none;
    position: relative;
    top: 0px;
    left: 0px;
    width: 70%;
    z-index: 15;
    background-color: rgb(228, 228, 228);
    padding: 30px;
}
.concept-detail-show h4 {
    width: 35%;
    font-size: 15px;
}
.concept-detail-show nav {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px 20px;
    padding: 10px;
    border-bottom: black 1px solid;
}
.concept-detail-show article {
    font-size: 15px;
    width: 60%;
    text-align: left;
}
.x-btn {
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    left: 900px;
    color: white;
    background-color: black;
    box-shadow: black 1px 1px;
    opacity: 0.7;
}
.appear {
    left: 0px;
    transition: all 0.8s;
}
.shadow {
    opacity: 0.2;
    transition: all 0.6s;
}
.disappear {
    left: -10000px;;
    transition: all 0.8s;
}   

/* コンセプト */
/* コンセプト　スマホ */
@media (min-width:320px) and (max-width: 900px) {

    .concept {
        margin-top: 0px;
    }
    .concept-content {
        padding-top: 30px;
        display: block;
        align-items: center;
    }
    .concept-detail {
        width: 90%;
    }
    .concept-detail h1, ul {
        margin-top: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    .concept-detail ul {
        font-size: 10px;
    }
    .concept-detail li {
        list-style: none;
        text-decoration: underline;
        font-size: 15px;
    }
    .concept-detail h1 {
        font-size: 25px;
    }
    .concept-detail h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .concept-img {
        display: none;
        width: 100%;
        position: relative;
        top: 30px;
        opacity: 1;
    }
    .concept-detail-show {
        position: relative;
        top: -100px;
        /* left: -10000px; */
        width: 90%;
        z-index: 15;
        background-color: rgb(226, 226, 226);
        padding: 5px 0;
        margin-top: 70px;
    }
    .concept-detail-show h1 {
        text-align: center;
        font-size: 25px;
        width: 100%;
    }
    .concept-detail-show h3 {
        text-align: center;
    }
    .concept-detail-show h4 {
        width: 30%;
        font-size: 13px;
    }
    .concept-detail-show nav {
        display: flex;
        text-align: center;
        align-items: center;
        margin: 5px;
        padding: 5px;
        border-bottom: black 1px solid;
    }
    .concept-detail-show article {
        font-size: 12px;
        width: 65%;
        text-align: left;
    }
    .x-btn {
        border-radius: 50%;
        font-size: 20px;
        position: relative;
        left: 300px;
        background-color: white;
        color: black;
        box-shadow: black 1px 1px;
        opacity: 0.7;
    }
    .appear {
        left: 0px;
        transition: all 0.8s;
    }
    .shadow {
        opacity: 0.2;
        transition: all 0.6s;
    }
    .disappear {
        left: -10000px;;
        transition: all 0.8s;
    }

}
/* コンセプト　スマホ */

/* サービス */
.service {
    width: 100%;
    margin-top: 0px;
    padding-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}
.service-container h1 {
    margin-left: 50px;
    font-size: 25px;
}
.service-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.service-detail {
    width: 30%;
    text-align: center;
}
.service-detail h3 {
    margin-top: 30px;
}
.service-name img {
    width: 100%;
    opacity: 0.7;
}
/* サービス */
/* サービス　スマホ */
@media (min-width:320px) and (max-width: 900px) {
    .service {
        width: 100%;
        margin-top: 100px;
        padding-top: 0px;
    }
    .service-container h1 {
        margin-left: 20px;
    }
    .service-content {
        display: block;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    .service-detail {
        width: 95%;
        margin-top: 50px;
        border-bottom: 1px solid rgb(114, 114, 114);
    }
    .service-name img {
        width: 100%;
        opacity: 1;
    }
    .service-detail h3 {
        margin-top: 10px;
        font-weight: bold;
    }
    .service-name p {
        position: relative;
        top: -10px;
        width: 95%;
    
    }
}
/* サービス　スマホ  */

/* セミナー */
.seminars {
    margin-top: 120px;
}
.seminars-container h1 {
    margin-left: 30px;
}
.seminars-container a{
    text-decoration: none;
    color: rgb(95, 94, 94);
}
.seminars-container a:hover {
    color: black;
    transition: all 0.8s;
    text-decoration: underline black;
}
.seminars-content {
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}
.seminars-detail {
    margin: 0 30px;
    line-height: 50px;
    width: 50%;
}
.slider {
    width: 50%;
}
.arrow {
    position: relative;
    color: white;
    background-color: rgba(31, 31, 31, 0.5);
    font-size: 30px;
    border-radius: 10px;
    padding: 2px 10px;
    z-index: 2;
}
.arrow:hover {
    color: white;
    background-color: rgb(95, 95, 95);
}
.arrow-left {
    left: 50px;
    top: 50px;
}
.arrow-right {
    right: 50px;
    top: 50px;
}
.seminars-img img {
    width: 100%;
    opacity: 1;
}
.slide-img img {
    width: 100%;
    opacity: 1;
}
.seminars-achivement {
    text-align: left;
    width: 50%;
    position: relative;
    top: -400px;
    left: -10000px;
    background-color: rgb(224, 224, 224);
    padding: 30px 0;
    opacity: 0.9;
    transition: ease-in-out 0.8s;
}
.achivement {
    left: -350px;
}
.seminars-achivement h1, p {
    text-align: center;
}
.seminars-achivement h1 {
    padding-bottom: 20px;
}
.seminars-achivement p {
    line-height: 30px;
}
/* セミナー */
/* セミナー　スマホ */
@media (min-width:320px) and (max-width: 900px) {
    .seminars {
        margin-top: 120px;
    }
    .seminars-container h1 {
        margin-left: 10px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    .seminars-content {
        display: block;
        align-items: center;
        margin-top: 20px;
        margin-bottom: -200px;
    }
    .seminars-detail {
        margin: 0px;
        line-height: 30px;
        width: 100%;
    }
    .slider {
        width: 100%;
        margin: 0px;
        /* overflow-x: hidden; */
    }
    .seminars-img {
        width: 100%;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
    }
    .seminars-img img {
        width: 100%;
        opacity: 1;
    }
    .slide-img {
        width: 100%;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
    }
    .slide-img img {
        width: 100%;
        opacity: 1;
    }
    .slider {
        width: 100%;
    }
    .arrow {
        position: relative;
        color: white;
        background-color: rgba(31, 31, 31, 0.5);
        font-size: 20px;
        border-radius: 10px;
        padding: 2px 10px;
        z-index: 2;
        width: 10%;
    }
    .arrow:hover {
        color: white;
        background-color: rgb(95, 95, 95);
    }
    .arrow-left {
        left: -170px;
        top: 130px;
    }
    .arrow-right {
        right: -170px;
        top: -300px;
    }
    .seminars-achivement {
        text-align: center;
        width: 100%;
        position: relative;
        top: 20px;
        left: -10000px;
        background-color: rgb(224, 224, 224);
        padding: 30px 0;
        opacity: 0.9;
        transition: ease-in-out 0.6s;
    }
    .achivement {
        left: -0px;
    }
    .seminars-achivement h1, p {
        text-align: center;
    }
    .seminars-achivement h1 {
        padding-bottom: 20px;
    }
    .seminars-achivement p {
        line-height: 30px;
    }
}
/* セミナー　スマホ */

/* 学生支援 */
.contents {
    margin-top: -200px;
}
.contents-container h1, h2 {
    margin-left: 30px;
}
.contents-container a{
    text-decoration: none;
    color: rgb(95, 94, 94);
}
.contents-container a:hover {
    color: black;
    transition: all 0.8s;
    text-decoration: underline black;
}
.contents-content {
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}
.contents-detail {
    margin: 0 30px;
    line-height: 50px;
    width: 50%;
}
.slider {
    width: 50%;
}
.arrow {
    position: relative;
    color: white;
    background-color: rgba(31, 31, 31, 0.5);
    font-size: 30px;
    border-radius: 10px;
    padding: 2px 10px;
    z-index: 2;
}
.arrow:hover {
    color: white;
    background-color: rgb(95, 95, 95);
}
.arrow-left {
    left: 50px;
    top: 50px;
}
.arrow-right {
    right: 50px;
    top: 50px;
}
.contents-img img {
    width: 100%;
    opacity: 1;
}
.slide-img img {
    width: 100%;
    opacity: 1;
}
/* 学生支援 */
/* 学生支援　スマホ */
@media (min-width:320px) and (max-width: 900px) {
    @media (min-width:320px) and (max-width: 900px) {
        .contents {
            margin-top: 120px;
        }
        .contents-container h1 {
            margin-left: 10px;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
        }
        .contents-content {
            display: block;
            align-items: center;
            margin-top: 20px;
            margin-bottom: -200px;
        }
        .contents-detail {
            margin: 0px;
            line-height: 30px;
            width: 100%;
        }
        .slider {
            width: 100%;
            margin: 0px;
            /* overflow-x: hidden; */
        }
        .contents-img {
            width: 100%;
            height: 400px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: center;
        }
        .contents-img img {
            width: 100%;
            opacity: 1;
        }
        .slide-img {
            width: 100%;
            height: 400px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: center;
        }
        .slide-img img {
            width: 100%;
            opacity: 1;
        }
        .slider {
            width: 100%;
        }
        .arrow {
            position: relative;
            color: white;
            background-color: rgba(31, 31, 31, 0.5);
            font-size: 20px;
            border-radius: 10px;
            padding: 2px 10px;
            z-index: 2;
            width: 10%;
        }
        .arrow:hover {
            color: white;
            background-color: rgb(95, 95, 95);
        }
        .arrow-left {
            left: -170px;
            top: 130px;
        }
        .arrow-right {
            right: -170px;
            top: -300px;
        }
    }
    /* .contents {
        margin-top: 80px;
    }
    .contents-container h1 {
        display: none;
    }
    .contents-container h2 {
        margin-left: 0px;
        font-size: 25px;
        padding-left: 10px;
        font-family: 'Times New Roman', Times, serif;
        display: block;
    }
    .contents-container a {
        color: black;
        text-decoration: none;
    }
    .contents-content {
        display: block;
        align-items: center;
        margin-top: 20px;
    }
    .contents-detail {
        margin-left: 10px;
        line-height: 30px;
    }
    .contents-img {
        width: 100%;
    }
    .contents-img img {
        width: 100%;
        opacity: 1;
    }
    .arrow-left {
        left: -170px;
        top: 130px;
    }
    .arrow-right {
        right: -170px;
        top: -300px;
    } */
}
/* 学生支援　スマホ */

/* オフライン */
.offline {
    margin-top: 120px;
}
.offline-container h1 {
    margin-left: 30px;
}
.offline-container a{
    text-decoration: none;
    color: rgb(95, 94, 94);
}
.offline-container a:hover {
    color: black;
    transition: all 0.8s;
    text-decoration: underline black;
}
.offline-content {
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}
.offline-detail {
    margin: 0 30px;
    line-height: 50px;
    width: 50%;
}
.slider {
    width: 50%;
}
.arrow {
    position: relative;
    color: white;
    background-color: rgba(31, 31, 31, 0.5);
    font-size: 30px;
    border-radius: 10px;
    padding: 2px 10px;
    z-index: 2;
}
.arrow:hover {
    color: white;
    background-color: rgb(95, 95, 95);
}
.arrow-left {
    left: 50px;
    top: 50px;
}
.arrow-right {
    right: 50px;
    top: 50px;
}
.offline-img img {
    width: 100%;
    opacity: 1;
}
.slide-img img {
    width: 100%;
    opacity: 1;
}
/* オフライン */
/* オフライン　スマホ */
@media (min-width:320px) and (max-width: 900px) {
    .offline {
        margin-top: 120px;
    }
    .offline-container h1 {
        margin-left: 10px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    .offline-content {
        display: block;
        align-items: center;
        margin-top: 20px;
        margin-bottom: -200px;
    }
    .offline-detail {
        margin: 0px;
        line-height: 30px;
        width: 100%;
    }
    .slider {
        width: 100%;
        margin: 0px;
        /* overflow-x: hidden; */
    }
    .offline-img {
        width: 100%;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
    }
    .offline-img img {
        width: 100%;
        opacity: 1;
    }
    .slide-img {
        width: 100%;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
    }
    .slide-img img {
        width: 100%;
        opacity: 1;
    }
    .slider {
        width: 100%;
    }
    .arrow {
        position: relative;
        color: white;
        background-color: rgba(31, 31, 31, 0.5);
        font-size: 20px;
        border-radius: 10px;
        padding: 2px 10px;
        z-index: 2;
        width: 10%;
    }
    .arrow:hover {
        color: white;
        background-color: rgb(95, 95, 95);
    }
    .arrow-left {
        left: -170px;
        top: 130px;
    }
    .arrow-right {
        right: -170px;
        top: -300px;
    }
}
/* オフライン　スマホ */

/* ニュース */
.news {
    width: 100%;
}
.news-container {
    padding-top: 150px;
    margin-top: 100px;
    margin-left: 30px;
}
.news-contents {
    margin-top: 10px;
    border-top: solid 1px rgb(145, 145, 145);
}
.reports, .announcement {
    display: flex;
    align-items: center;
    border-bottom: rgb(161, 161, 161) 1px solid;
}
.reports-title, .announcement-title {
    width: 30%;
    text-align: center;
}
.reports-detail, .announcemnet-detail {
    width: 60%;
    margin: 30px 0px;
    line-height: 80px;
}
.news-contents li {
    list-style-type: decimal;
    text-decoration: underline;
}
/* ニュース */
/* ニュース　スマホ */
@media (min-width:320px) and (max-width: 900px) {
    .news {
        width: 100%;
    }
    .news-container {
        margin-top: 100px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .news-container h1 {
        font-size: 30px;
        padding-left: 25px;
        font-family: 'Times New Roman', Times, serif;
    }
    .news-contents {
        margin-top: 10px;
        border-top: solid 1px rgb(78, 78, 78);
        margin: 0px;
    }
    .reports, .announcement {
        display: block;
        border-bottom: rgb(177, 175, 175) 1px solid;
    }
    .reports-title, .announcement-title {
        margin-top: 30px;
        padding-left: 30px;
        width: 100%;
        text-align: left;
    }
    .reports-detail, .announcemnet-detail {
        width: 100%;
        margin: 20px 0px;
        line-height: 40px;
        font-size: 15px;
    }
    .news-contents li {
        list-style-type: decimal;
        text-decoration: underline;
    }
}
/* ニュース　スマホ */

/* メンバー */
.members {
    width: 100%;
}
.members-container {
    padding-top: 150px;
    margin-top: 50px;
    margin-left: 30px;
}

.members-detail {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 50px;
}
.memebers-img {
    width: 0%;
}
.members-img img {
    width: 70%;
}
.members-intro {
    width: 100%;
    font-size: 20px;
}
.ryota {
    margin-left: 150px;
}
/* メンバー */
/* メンバー　スマホ */
@media (min-width:320px) and (max-width: 900px) {
    .members {
        width: 100%;
    }
    .members-container {
        margin-top: 100px;
        padding-top: 0px;
        margin-left: 0px;
    }
    .members-container h1 {
        font-size: 25px;
        padding-left: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    .members-detail {
        display: block;
        align-items: center;
        justify-content: right;
        margin: 50px 10px;
    }
    .memebers-img {
        width: 0%;
    }
    .members-img img {
        width: 100%;
    }
    .members-intro {
        width: 100%;
        font-size: 20px;
    }
    .members-intro h2 ,h5 {
        text-align: center;
    }
    .ryota {
        margin-left: 0px;
    }
}
/* メンバー　スマホ */

/* お問い合わせ */
.contact {
    width: 100%;
}
.contact-container {
    margin-top: 50px;
    padding-top: 150px;
    text-align: center;
}
.contact-detail {
    display: flex;
    justify-content: center;
    margin: 100px 300px;
}
.contact-detail a {
    width: 30%;
    text-decoration: none;
    color: black;
}
.contact-detail a:hover {
    text-decoration: underline;
}
.fa {
    font-size: 45px;
}
.fa-envelope {
    color: white;
    background-color: red;
}
.fa-instagram {
    color: purple;
}
.fa-phone {
    color: rgb(5, 182, 5);
}
/* お問い合わせ */
/* お問い合わせ　スマホ */
@media (min-width:320px) and (max-width: 900px) {
    .contact {
        width: 100%;
    }
    .contact-container {
        margin-top: 100px;
        text-align: center;
    }
    .contact-detail {
        display: block;
        justify-content: center;
        margin: 50px 0px;
    }
    .contact-detail a {
        width: 80%;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }
    .contact-detail a:hover {
        text-decoration: underline;
    }
    .fa {
        font-size: 25px;
    }
    .fa-envelope {
        color: white;
        background-color: red;
    }
    .fa-instagram {
        color: purple;
    }
}
/* お問い合わせ　スマホ */

/* フッター */
footer{
    margin-top: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: black;
    color: white;
}
/* フッター */
/* フッター　スマホ */
@media (min-width:320px) and (max-width: 900px) {
    footer{
        margin-top: 100px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        background-color: black;
        color: white;
    }
}
/* フッター　スマホ */
